.store-subcategory-page{
    margin: 100px 0;
}

/* HEADER */

.store-subcategory-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-subcategory-title{
    font-size: 28px;
    margin: 20px 0;
    font-weight: 600;
    color: #111;
}


/* PRODUCT GRID */

.store-subcategory-grid{
    margin: 35px 100px 0 100px;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;

    gap: 18px;
}


/* PRODUCT CARD */

.store-subcategory-card{
    width: 250px;
    overflow: hidden;

    background: white;

    border-radius: 16px;

    margin-bottom: 20px;

    border: 1px solid rgb(230, 228, 228);

    transition: 0.3s;

    position: relative;
}

.store-subcategory-card:hover{
    transform: translateY(-8px);

    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}


/* SAVE BADGE */

.store-subcategory-save-badge{
    position: absolute;

    top: 10px;
    left: 10px;

    background: crimson;

    color: white;

    padding: 6px 10px;

    border-radius: 20px;

    font-size: 12px;

    font-weight: 600;

    z-index: 5;
}


/* IMAGE */

.store-subcategory-card-image{
    background: #f8f8f8;

    padding: 20px;

    text-align: center;
}

.store-subcategory-card-image img{
    height: 160px;

    object-fit: cover;

    transition: 0.3s;
}

.store-subcategory-card:hover img{
    transform: scale(1.08);
}


/* BODY */

.subcategory-product-name-brand{
    display: flex;
    justify-content: space-between;
}

.store-subcategory-card-body{
    padding: 15px;

    text-align: center;
}

.store-subcategory-card-body h4{
    font-size: 16px;

    margin-bottom: 8px;

    color: #111;
}


/* BRAND */

.store-subcategory-brand{
    color: #777;

    font-size: 14px;

    margin-bottom: 12px;
}


/* PRICE */

.store-subcategory-price-section{
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
}

.store-subcategory-discount-price{
    font-size: 20px;

    font-weight: bold;

    color: #2e7d32;
}

.store-subcategory-original-price{
    font-size: 14px;

    color: #888;

    text-decoration: line-through;

    margin-top: 4px;
}


/* BUTTON */

.store-subcategory-btn{
    background: #fbf0f3;

    color: #fd4a83;
    font-weight: 700;

    border: 1.5px solid  #ff6294;

    padding: 10px 15px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;

    width: 100%;
}

.store-subcategory-btn:hover{
    background:  #fce2e9;
}



/* TABLET */

@media (max-width: 992px){

    .store-subcategory-grid{
        margin: 5px 40px 0 40px;
    }

}



/* MOBILE */

@media (max-width: 600px){

    .store-subcategory-page{
        margin: 10px 0 60px 0;
    }

    .store-subcategory-title{
        font-size: 22px;
    }

    .store-subcategory-grid{

        margin: 10px 15px 0 15px;

        justify-content: center;

        gap: 15px;
    }

    .store-subcategory-card{
        width: 47%;
    }

    .store-subcategory-card-image{
        padding: 12px;
    }

    .store-subcategory-card-image img{
        height: 110px;
    }

    .store-subcategory-card-body{
        padding: 12px;
    }

    .store-subcategory-card-body h4{
        font-size: 14px;
    }

    .store-subcategory-brand{
        font-size: 12px;
    }

    .store-subcategory-discount-price{
        font-size: 16px;
    }

    .store-subcategory-original-price{
        font-size: 12px;
    }

    .store-subcategory-btn{
        padding: 8px 12px;

        font-size: 13px;
    }

    .store-subcategory-save-badge{
        font-size: 10px;

        padding: 5px 8px;
    }

}

/* No Results */
.no-results {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.no-results img {
    width: 120px;
    opacity: 0.7;
}

.no-results h3 {
    margin-top: 15px;
}

.no-results p {
    color: #777;
}