{% extends "errors/error_base.html" %}

{% block error_title %}Server Error{% endblock error_title %}
{% block error_icon_class %}icon-500{% endblock error_icon_class %}
{% block error_icon %}fa-server{% endblock error_icon %}
{% block error_heading %}Something went wrong{% endblock error_heading %}
{% block error_message %}We hit an unexpected problem on our side. Please try again in a few minutes.{% endblock error_message %}

{% block error_actions %}
<a href="{% url 'home' %}" class="error-btn primary">Go to Home</a>
<button type="button" class="error-btn secondary" onclick="window.location.reload()">Try Again</button>
{% endblock error_actions %}
