* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
}

/* NAVBAR */
  
.top-navbar {
  display: flex;
  align-items: center;
  padding: 10px 30px 20px;
  gap: 20px;
  background: #f5f5f5;
  flex-wrap: wrap;
  height: 100px;
}

/* LEFT */
.toggle-btn {
  display: none;
}

.nav-left img {
  height: 75px;
  padding-left: 40px;
}

/* CENTER SEARCH */
.nav-center {
  display: flex;
  width: 540px;
 margin-left: 50px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 50px;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-box select {
  border: none;
  padding: 10px;
  background: #fff;
  cursor: pointer;
}

.search-box button {
  background: #3b82f6;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  height: 50px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 280px;
}
/* CONTACT */
.chatbot button{
  font-size: 16px;
  color:white;
  background-color: #3b82f6;
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 0.3rem;
}

/* ICONS */
.icons {
  position: relative;
  display: flex;
  gap: 40px;
  font-size: 30px;
}

.login button {
  font-size: 16px;
  color:white;
  background-color: #3b82f6;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 0.3rem;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* ===== SIDEBAR ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 200px;
  height: auto;
  background: #faf8f8;
  color: #0c0c0c;
  padding: 20px;
  transition: 0.3s;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
  float: right;
}

.sidebar ul {
  list-style: none;
  padding: 40px 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: rgb(8, 8, 8);
  text-decoration: none;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.overlay.active {
  display: block;
}

/* USER */
.user p {
  margin: 0;
  font-size: 12px;
}

.user a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* RESPONSIVE */
@media (max-width: 1500px) {
  .top-navbar {
  padding: 20px 25px 15px;
  gap: 10px;
  
}

/* LEFT */
.nav-left img {
  height: 70px;
}

/* CENTER SEARCH */
.nav-center {
  width: 450px;

}
 
/* RIGHT */
.nav-right {
  gap: 70px;
  padding-left: 40px;
}
}
@media (max-width: 1309px) {
  .top-navbar {
  padding: 20px 25px 15px;
  gap: 10px;
  
}

/* LEFT */
.nav-left img {
  height: 70px;
}

/* CENTER SEARCH */
.nav-center {
  width: 420px;

}
 
/* RIGHT */
.nav-right {
  gap: 30px;
}
}

@media (max-width: 1200px) {

  .top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 80px;
  }

  /* LEFT SIDE */
  .nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .toggle-btn {
    font-size: 22px;
    cursor: pointer;
    display: block;
  }

  /* LOGO CENTER */
  .nav-left img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
  }

  /* HIDE SEARCH BAR */
  .nav-center {
    display: none;
  }

  /* RIGHT SIDE */
  .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /* HIDE EXTRA TEXT */
  .chatbot,
  .login {
    display: none;
  }

  /* ICONS */
  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* OPTIONAL: hide wishlist */
  .icons i.fa-heart {
    display: none;
  }

  /* CART COUNT STYLE */
  .cart-count {
    font-size: 12px;
    background: red;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
  }

}

@media (max-width: 492px) {

  .top-navbar {
    padding: 5px 20px;
    height: 80px;
  }

  .toggle-btn {
    font-size: 18px;
  }

  /* LOGO CENTER */
  .nav-left img {
    left: 43%;
    height: 40px;
  }

  /* HIDE SEARCH BAR */
  .nav-center {
    display: none;
  }

  /* HIDE EXTRA TEXT */
  .chatbot,
  .login {
    display: none;
  }

  .icons{
    font-size: 22px;
  }


  /* CART COUNT STYLE */
  .cart-count {
    font-size: 12px;
    background: red;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
  }

}

/* HERO BACKGROUND */
.hero {
  margin: 10px;
  overflow: hidden;
  height: 340px; 
}

/* Banner container */
.hero-banner {
  width: 100%;
  height: 344px; /* desktop height */
}

/* Image styling */
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Tablet */
@media (max-width: 992px) {
  .hero-banner {
    height: 200px;
  }
  .hero{
    height: 200px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .hero-banner {
    height: 100px;
  }
  .hero{
    margin: 5px;
    height: 100px;
  }
}

.features {
    margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 40px;
  background: #f5f5f5;
  flex-wrap: wrap;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  width: 300px;
}

.feature-card i {
  font-size: 28px;
  color: #4c86af;
}

.feature-card h4 {
  margin: 0;
  font-size: 16px;
}

.feature-card p {
  margin: 3px 0 0;
  font-size: 13px;
  color: gray;
}

/* Hover effect */
.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Tablet */
@media (max-width: 992px) {
  .features {
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 40px;
}
  .feature-card {
  gap: 10px;
  padding: 25px;
  border-radius: 10px;
  width: 190px;
}

.feature-card i {
  font-size: 25px;
  color: #4CAF50;
}

.feature-card h4 {
  margin: 0;
  font-size: 12px;
}

.feature-card p {
  margin: 3px 0 0;
  font-size: 10px;
  color: gray;
}
}

/* Mobile */
@media (max-width: 576px) {
  .features {
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 25px;
}
  .feature-card {
  gap: 5px;
  padding: 18px;
  border-radius: 10px;
  width: 140px;
}

.feature-card i {
  font-size: 15px;
}

.feature-card h4 {
  margin: 0;
  font-size: 9px;
}

.feature-card p {
  margin: 3px 0 0;
  font-size: 10px;
  color: gray;
}
}


/* #Order-via-Whatsapp */

.order-whatsapp {
  margin: 30px 130px 0px 130px;
  height: 120px;
  border-radius: 1rem;
  border: 1.6px solid rgb(163, 208, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0px 100px;
  background-color: #eaf1f7;
  
}

.text-left h2 span{
  display: block;
  margin-top: 10px;
}

.text-left h2{
  font-size: 23px;
  
}
.text-left span{
  font-size: 28px;
}

.text-left {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #cbe5fc;
  height: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.text-right h2 span{
  margin-left: 10px;
}

.text-right h2{
  font-size: 15px;
  color: #333;
}
.text-right span {
  font-size: 28px;
  color: black;
}

@media (max-width: 992px) {
  .order-whatsapp {
    margin: 30px 40px 0px 40px;
    padding: 0px 30px 0px 30px;
  }
  .text-left h2{
  font-size: 19px;
  
  }
  .text-left span{
    font-size: 22px;
  }

  .text-right h2{
    font-size: 15px;
    text-align: center;
    
  }
  .text-right span {
    font-size: 22px;
  }

  .text-right h2 span{
  display: block;
  margin-top: 10px;
  }
  .text-left {
  height: 100px;
  width: 185px;
}
}

@media(max-width: 482px){
  .order-whatsapp {
  margin: 30px 10px 0px 10px;
  height: 100px;
  padding: 0px 10px 0px 10px;  
}

.text-left h2 span{
  margin-top: 5px;
}

.text-left h2{
  font-size: 15px;
  
}
.text-left span{
  font-size: 17px;
}

.text-left {
  height: 100px;
  width: 350px;
  
}

.text-right {
  padding-right: 20px;
  
}

.text-right h2{
  font-size: 13px;
}
.text-right span {
  font-size: 20px;
  color: black;
}
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 40px;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  min-width: calc(50% - 10px); /* 🔥 2 cards visible */
  border-radius: 15px;
  overflow: hidden;
}

.carousel-slide img {
  width: 700px;
  height: 331px;
  object-fit: cover;
  border-radius: 15px;
}

/* Arrows */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #2d6cdf;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Dots */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 5px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dots .active {
  background: #2d6cdf;
}

@media (max-width: 768px) {
  .carousel-slide {
    min-width: 100%; /* 1 card on mobile */
  }
}

/* Content-Section */

.content-section{
  height: auto;
  margin-top: 30px;
  background-color:  #eaf1f7;
}
.title p{
  font-weight: 800;
  font-size: 22px;
  color: #c7590b;
  text-align: center;
  padding-top: 50px;
}
#offer-tag {
  color: black;
  font-size: 17px;
  font-weight: 700;
  padding-top: 14px;
  margin-bottom: 40px;
}

.categories {
  display: flex;          
  flex-wrap: wrap;        
  gap: 100px;              
  align-items: center;
  justify-content: center;
}
.box{
  height: 160px;
  width: 160px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: 1px solid pink;
  cursor: pointer;
  transition: 0.3s;
}
.full-box.active .box {
  border: 2px solid #fba7b6;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff4d6d,
              0 0 20px #ff4d6d,
              0 0 30px rgba(255, 77, 109, 0.6);
}
.full-box:hover {
  transform: scale(1.05);
}


.box img {
  height: 100px;
  margin-top: 70px;
  object-fit: contain;     
}

.full-box p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 20px;
  color: #333;
}

@media (max-width: 992px) {
  .categories{
    gap: 30px;
  }
  .box{
  height: 80px;
  width: 80px;
}
.box img {
  height: 50px;
  margin-top: 30px;
  object-fit: contain;     
}
.full-box p{
  font-weight: 700;
  margin-top: 10px;
  color: #333;
  font-size: 12px;
}
}
@media (max-width: 480px) {
  .content-section{
  height: auto;    
  width: 100%; 
}
.categories {       
  gap: 10px;              
}
.box{
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: 1px solid pink;
}

.box img {
  height: 40px;
  margin-top: 20px;
  object-fit: contain;     
}

.full-box p{
  font-weight: 700;
  margin-top: 10px;
  font-size: 9px;
  color: #333;
}

.full-box.active .box {
  border: 0.5px solid #fba7b6;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff4d6d,
              0 0 10px #ff4d6d,
              0 0 20px rgba(255, 77, 109, 0.6);
}
}

/* All_Products */
.all-product{
  margin: 35px 100px 0px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.card-box{
  height: 250px;
  width: 300px;
  overflow: hidden;
  background-color:white;
  border-radius: 1rem;
  margin-bottom: 20px;
  border: 1px solid rgb(230, 228, 228);
}
.product-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
.product-img img{
  height: 150px;
  object-fit: cover;
  margin-top: 30px;
}
.product-name{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #656464;
  font-weight: 700;
  font-size: 14px;
  
}
.all-product a{
  text-decoration: none;
}
.card-box p{
  margin: 40px;
  
}

@media (max-width: 992px) {
  .all-product{
  margin: 35px 10px 0px 10px;
  gap: 5px;
}

.card-box{
  height: 180px;
  width: 150px;
}
.product-img img{
  height: 90px;
}
.product-name{
  font-size: 11px;
}
.card-box p{
  margin: 20px;
}
}

@media (max-width: 480px) {
  .all-product{
  margin: 25px 10px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1px;
}

.card-box{
  height: 100px;
  width: 140px;
  overflow: hidden;
  background-color:white;
  border-radius: 1rem;
  margin-bottom: 4px;
}
.product-img img{
  height: 70px;
  margin-top: 5px;
}
.product-name{
  font-size: 10px;
}

.card-box p{
  margin: 7px;
  
}
}

.faq-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.faq-title {
  text-align: center;
  margin: 25px 0;
}

.faq-container {
  background-color: #daedf9;
  width: 70%;
  margin: auto;
  border-radius: 1rem;
  padding: 33px 69px;
  max-width: 900px; 
}

.faq-item {
  padding: 14px;
  border-bottom: 1px solid #ccc;
  color: #4f585e;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

/* arrow */
.arrow-icon span {
  font-size: 22px;
  transition: 0.3s;
}

/* rotate arrow */
.faq-item.active .icon{
  transform: rotate(180deg);
}

/* answer */
.faq-answer {
  display: none;
  margin-top: 10px;
  color: #807f7f;
}

/* show answer */
.faq-item.active .faq-answer {
  display: block;
}

@media (max-width: 992px) {
  .faq-container {
    width: 100%;
    margin: auto;
    padding: 20px;
  }

  .faq-question {
    font-size: 16px;
  }
  .faq-answer {
    font-size: 16px;
  }
}

@media (max-width: 482px) {
  .faq-container {
    padding: 15px;
    width: 90%;   
    height: auto; 
  }

  .faq-question {
    font-size: 13px;   
  }
  .faq-answer{
    font-size: 12px;
  }
}

.bottom-section{
  height: auto;
  padding: 25px 153px 0px 153px;
  margin-top: 30px;
  border-bottom: 1px solid rgb(194, 194, 246);
}

.text-section{
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  color: #8198bb;
}

.lower-text{
  color: #6c7789;
}

.image-section{

  display: flex;
  justify-content: center;
}

.image-section img{
  height: 250px;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .bottom-section{
  padding: 25px 50px 0px 50px;
}

.text-section{
  font-size: 18px;
}

.image-section img{
  height: 200px;
  opacity: 0.5;
}
}

@media (max-width: 482px) {
  .bottom-section{
  padding: 17px 17px 0px 17px;
  margin-top: 10px;
}

.text-section{
  font-size: 14px;
}

.image-section img{
  height: 100px;
  opacity: 0.5;
}
}

footer{
  height: 912.8px;
  background-color: #272c4d;
}

.outer-footer{
  background-color: #ffefef;
  height: 912.8px;
  margin: 0px 48px;
  padding: 48px 88px;
}

.footer-logo-section{
  margin-bottom: 40px;
}

.full-logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 21px;
}
.full-logo img{
  height: 50px;
}

.outer-logo{
  margin-bottom: 2px;
}

.footer-allitem{
  display: flex;
  justify-content: space-between;
}
.item-title{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.all-item ul{
  list-style: none;
}

.all-item ul li{
 padding: 10px 0px 10px 0px;
}

.all-item ul li a{
  text-decoration: none;
  color: black;
}